/*------------------------------------------------------------
							Header
------------------------------------------------------------*/

.l-header {
    @include clear;
    border-bottom: 2px solid #fa0000;
    padding: 20px 0;
    background: linear-gradient(#000 82%, #fff 150%);
    /* Standard syntax (must be last) */
    -webkit-background: linear-gradient(#000 87%, #fff 115%);
    /* Standard syntax (must be last) */
    -o-background: linear-gradient(#000 87%, #fff 115%);
    /* Standard syntax (must be last) */
    -moz-background: linear-gradient(#000 87%, #fff 115%);
    /* Standard syntax (must be last) */
}

.c-logo {
    float: left;
}

.c-nav {
    float: right;
    text-align: center;
    padding-top: 25px;
    .c-nav__menu-item {
        display: inline-block;
        border-right: 1px solid #444;
        padding: 0 10px;
        line-height: 1.5rem;
        text-align: right;
    }
    .c-nav__menu-item:last-child {
        border: none;
    }
    a {
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
        span {
            font-size: 12px;
            color: #777;
            padding-right: 5px;
        }
        &:hover {
            span {
                color: $color2;
                border-bottom: 2px solid $color2;
            }
        }
    }
}

// dialog
.l-dialog {
    background: $color10;
    margin-top: 3px;
    .c-dialog {
        font-size: 1.2rem;
        span {
            line-height: 40px;
        }
        a {
            color: $color6;
            border-bottom: 1px solid $color2;
            padding: 3px 0;
        }
        &__first:after {
            content: "\f105";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            padding: 0 5px;
        }
    }
}