@charset "UTF-8";
/*------------------------------------------------------------

------------------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
}
.p-wrapper {
	background-color: #000;
}
.l-container {
	max-width: $baseWidth1;
	width: 100%;
	margin: 0 auto;
}