.l-main {
    @include clear;
    max-width: 700px;
    width: 100%;
    float: left;
}

.l-part1 {
    margin-top: 30px;
}

.l-part2 {
    background: url(/assets/image/bg_3.png) no-repeat;
    @include clear;
    margin: 30px 0;
    padding-top: 110px;
}


/*slider*/

.slick-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    left: -40px;
    top: 80%;
    background: #000;
    border: none;
    &:before {
        content: '\f104';
        font-size: 70px;
        line-height: 1;
        color: $color3;
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
    }
}

.slick-next {
    @extend .slick-prev;
    left: 1000px;
    &:before {
        content: '\f105';
    }
}

.full_slider {
    position: relative;
    margin: 0 auto;
    text-align: center;
    .slick-dots {
        text-align: right;
        li {
            display: inline-block;
            margin: 0 1px;
            button {
                font-size: 0;
                cursor: pointer;
                padding: 2px 15px;
                border: 0;
                &:hover {
                    background: $color2;
                }
            }
        }
        .slick-active button {
            background: $color2;
        }
    }
    img {
        width: 100%;
        max-width: 1000px;
    }
}

// l-guide
.c-description {
    p {
        font-size: 1.3rem;
        line-height: 20px;
        margin: 30px 0;
    }
}

.c-guide-des {
    p {
        font-size: 1.3rem;
        margin: 20px 0;
    }
}

.c-recycle {
    h2 {
        font-size: 2.8rem;
        color: $color4;
        text-align: center;
        line-height: 60px;
        background: $color7;
    }
    &__list {
        background: $color3;
        padding: 0 20px 20px;
    }
}

// map
.l-map {
    margin-top: 40px;
}

// truck
.l-truck {
    margin-top: 40px;
}

// QA
.l-QA {
    margin: 40px 0 100px 0;
}

// contact
.l-contact {
    margin-top: 40px;
}

// sell
.l-sell {
    margin: 50px 0;
}