/*------------------------------------------------------------
						SideBar
------------------------------------------------------------*/

#sidebar {
    @include clear;
}

.l-side {
    max-width: 250px;
    width: 100%;
    float: right;
    .l-side__item1 {
        background: url("../image/bg_sidebar.png") no-repeat;
        padding: 14px 0 10px 0;
        margin-top: 40px;
        .c-title {
            width: 89%;
            background: #886807;
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#886807, #deb332, #886807);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#886807, #deb332, #886807);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#886807, #deb332, #886807);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(#886807, #deb332, #886807);
            /* Standard syntax */
            margin: 0 auto;
            text-align: center;
            h2 {
                font-size: 1.8rem;
                color: $color1;
                font-weight: 700;
                text-shadow: 2px 2px 8px #fae85a;
            }
        }
        .c-title-bot {
            text-align: center;
        }
        .c-phone {
            color: #fff;
            text-align: center;
            margin-top: 15px;
            .c-phone__tel {
                font-size: 2.6rem;
            }
            .c-phone__infotel {
                font-size: 1.3rem;
                letter-spacing: -0.1px;
            }
        }
    }
    .l-side__item2 {
        border-radius: 6px;
        overflow: hidden;
        margin: 5px 0 20px 0;
        .c-title {
            text-align: center;
            h2 {
                font-size: 1.8rem;
                color: #fff;
                background-color: #333;
                padding: 10px 0;
            }
        }
    }
    .l-side__item2--custom1 {
        .c-commercial {
            border-bottom: 10px solid $color2;
        }
        .c-title {
            h2 {
                background-color: $color2;
            }
        }
        .c-commercial {
            i {
                background-color: $color2;
            }
        }
    }
    .l-side__item2--custom2 {
        border-radius: 0;
        .c-commercial {
            padding: 0 5px;
            border: none;
            border-top: 5px solid $color3;
            border-bottom: 5px solid $color3;
            .c-commercial-item {
                border-bottom: 1px dotted $color3;
            }
        }
    }
}