//============================================
// サイト幅でセンタリング
//============================================
@mixin center {
    width: $baseWidth;
    margin: 0 auto;
}

@mixin center2 {
    width: $baseWidth2;
    margin: 0 auto;
}

//============================================
// aタグ hover時のみ下線をつける
//============================================
@mixin link_noline {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

//============================================
// テキスト置換
//============================================
@mixin hide_text {
    display: block;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

//============================================
// jQueryAutoHeight.jsにて揃えられたmin-heightをリセット
// PCサイトでは高さを揃えるが、スマホサイトでは高さ自由にする場合など。
//==============================================*/
@mixin reset_height {
    min-height: initial !important;
    min-height: auto !important;
}

//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// inline-block
//============================================
@mixin inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

//============================================
// transition
//============================================
@mixin transition($value: .2s ease all) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    transition: $value;
}

//============================================
// opacity
//============================================
@mixin opacity($value: .7) {
    opacity: $value;
    -ms-filter: "alpha(opacity=#{$value*100})";
    filter: alpha(opacity=$value*100);
}

//============================================
// フォント
//============================================
//@mixin mincyo() {
//	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
//}