@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%;
  color: #fff; }

a {
  text-decoration: none; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.clear {
  clear: both; }

.sp-only {
  display: none; }

@media screen and (max-width: 767px) {
  .pc-only {
    display: none; }
  .sp-only {
    display: block; }
  img {
    max-width: 100%;
    height: auto; } }

/*------------------------------------------------------------
							Header
------------------------------------------------------------*/
.l-header {
  *zoom: 1;
  border-bottom: 2px solid #fa0000;
  padding: 20px 0;
  background: linear-gradient(#000 82%, #fff 150%);
  /* Standard syntax (must be last) */
  -webkit-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */
  -o-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */
  -moz-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */ }
  .l-header:after {
    display: block;
    content: "";
    clear: both; }

.c-logo {
  float: left; }

.c-nav {
  float: right;
  text-align: center;
  padding-top: 25px; }
  .c-nav .c-nav__menu-item {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 1.5rem;
    text-align: right; }
  .c-nav .c-nav__menu-item:last-child {
    border: none; }
  .c-nav a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold; }
    .c-nav a span {
      font-size: 12px;
      color: #777;
      padding-right: 5px; }
    .c-nav a:hover span {
      color: #c80000;
      border-bottom: 2px solid #c80000; }

.l-dialog {
  background: #313131;
  margin-top: 3px; }
  .l-dialog .c-dialog {
    font-size: 1.2rem; }
    .l-dialog .c-dialog span {
      line-height: 40px; }
    .l-dialog .c-dialog a {
      color: #fff;
      border-bottom: 1px solid #c80000;
      padding: 3px 0; }
    .l-dialog .c-dialog__first:after {
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      padding: 0 5px; }

/*------------------------------------------------------------
						Footer
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
#footer {
  *zoom: 1; }
  #footer:after {
    display: block;
    content: "";
    clear: both; }
  #footer .l-container {
    background: url("../image/bg_footer.png") no-repeat; }
  #footer .l-footer__scrolltop {
    float: right;
    margin-top: -30px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #c80000;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer; }
    #footer .l-footer__scrolltop i {
      padding-right: 5px;
      font-size: 1.4rem; }
  #footer .c-nav {
    float: none;
    text-align: left;
    padding: 30px 25px;
    border-bottom: 1px solid #444; }
    #footer .c-nav__menu-item {
      display: inline-block;
      border: none;
      padding: 0 20px;
      font-size: 1.4rem;
      position: relative;
      letter-spacing: -1.2px; }
    #footer .c-nav i {
      top: 0px;
      left: 5px;
      position: absolute;
      padding: 3px 4px;
      background-color: #999;
      font-size: 0.8rem; }
  #footer .l-footer {
    margin-top: 30px; }
  #footer .l-footer__item {
    display: flex; }
  #footer .c-commercial {
    border: none;
    padding: 20px 30px 45px 30px; }
    #footer .c-commercial .c-commercial-item {
      padding: 3px 20px;
      border: none; }
    #footer .c-commercial .c-commercial-item:last-child {
      border: none; }
    #footer .c-commercial a {
      color: #fff;
      font-size: 1.3rem; }
    #footer .c-commercial i {
      top: 5px;
      color: #000;
      background-color: #999; }
  #footer .c-commercial--icon i {
    background-color: #c80000; }
  #footer .c-copyright {
    text-align: right;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 5px; }

/*------------------------------------------------------------
						SideBar
------------------------------------------------------------*/
#sidebar {
  *zoom: 1; }
  #sidebar:after {
    display: block;
    content: "";
    clear: both; }

.l-side {
  max-width: 250px;
  width: 100%;
  float: right; }
  .l-side .l-side__item1 {
    background: url("../image/bg_sidebar.png") no-repeat;
    padding: 14px 0 10px 0;
    margin-top: 40px; }
    .l-side .l-side__item1 .c-title {
      width: 89%;
      background: #886807;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#886807, #deb332, #886807);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#886807, #deb332, #886807);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#886807, #deb332, #886807);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#886807, #deb332, #886807);
      /* Standard syntax */
      margin: 0 auto;
      text-align: center; }
      .l-side .l-side__item1 .c-title h2 {
        font-size: 1.8rem;
        color: #000;
        font-weight: 700;
        text-shadow: 2px 2px 8px #fae85a; }
    .l-side .l-side__item1 .c-title-bot {
      text-align: center; }
    .l-side .l-side__item1 .c-phone {
      color: #fff;
      text-align: center;
      margin-top: 15px; }
      .l-side .l-side__item1 .c-phone .c-phone__tel {
        font-size: 2.6rem; }
      .l-side .l-side__item1 .c-phone .c-phone__infotel {
        font-size: 1.3rem;
        letter-spacing: -0.1px; }
  .l-side .l-side__item2 {
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0 20px 0; }
    .l-side .l-side__item2 .c-title {
      text-align: center; }
      .l-side .l-side__item2 .c-title h2 {
        font-size: 1.8rem;
        color: #fff;
        background-color: #333;
        padding: 10px 0; }
  .l-side .l-side__item2--custom1 .c-commercial {
    border-bottom: 10px solid #c80000; }
  .l-side .l-side__item2--custom1 .c-title h2 {
    background-color: #c80000; }
  .l-side .l-side__item2--custom1 .c-commercial i {
    background-color: #c80000; }
  .l-side .l-side__item2--custom2 {
    border-radius: 0; }
    .l-side .l-side__item2--custom2 .c-commercial {
      padding: 0 5px;
      border: none;
      border-top: 5px solid #444;
      border-bottom: 5px solid #444; }
      .l-side .l-side__item2--custom2 .c-commercial .c-commercial-item {
        border-bottom: 1px dotted #444; }

/*------------------------------------------------------------

------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0; }

.p-wrapper {
  background-color: #000; }

.l-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.l-main {
  *zoom: 1;
  max-width: 700px;
  width: 100%;
  float: left; }
  .l-main:after {
    display: block;
    content: "";
    clear: both; }

.l-part1 {
  margin-top: 30px; }

.l-part2 {
  background: url(/assets/image/bg_3.png) no-repeat;
  *zoom: 1;
  margin: 30px 0;
  padding-top: 110px; }
  .l-part2:after {
    display: block;
    content: "";
    clear: both; }

/*slider*/
.slick-prev, .slick-next {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  left: -40px;
  top: 80%;
  background: #000;
  border: none; }
  .slick-prev:before, .slick-next:before {
    content: '\f104';
    font-size: 70px;
    line-height: 1;
    color: #444;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal; }

.slick-next {
  left: 1000px; }
  .slick-next:before {
    content: '\f105'; }

.full_slider {
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .full_slider .slick-dots {
    text-align: right; }
    .full_slider .slick-dots li {
      display: inline-block;
      margin: 0 1px; }
      .full_slider .slick-dots li button {
        font-size: 0;
        cursor: pointer;
        padding: 2px 15px;
        border: 0; }
        .full_slider .slick-dots li button:hover {
          background: #c80000; }
    .full_slider .slick-dots .slick-active button {
      background: #c80000; }
  .full_slider img {
    width: 100%;
    max-width: 1000px; }

.c-description p {
  font-size: 1.3rem;
  line-height: 20px;
  margin: 30px 0; }

.c-guide-des p {
  font-size: 1.3rem;
  margin: 20px 0; }

.c-recycle h2 {
  font-size: 2.8rem;
  color: #dfb433;
  text-align: center;
  line-height: 60px;
  background: #333; }

.c-recycle__list {
  background: #444;
  padding: 0 20px 20px; }

.l-map {
  margin-top: 40px; }

.l-truck {
  margin-top: 40px; }

.l-QA {
  margin: 40px 0 100px 0; }

.l-contact {
  margin-top: 40px; }

.l-sell {
  margin: 50px 0; }

.c-commercial {
  border: 1px solid #444;
  padding: 5px 10px;
  border-bottom: 10px solid #444; }
  .c-commercial .c-commercial-item {
    padding: 10px 2px 10px 18px;
    line-height: 1.8rem;
    position: relative;
    border-bottom: 1px solid #444; }
  .c-commercial .c-commercial-item:last-child {
    border: none; }
  .c-commercial a {
    color: #fff;
    font-size: 1.3rem; }
  .c-commercial i {
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 4px;
    color: #000;
    background-color: #444;
    left: 0;
    top: 12px; }

.c-detail {
  border: 1px solid #999;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  width: 420px;
  position: relative; }
  .c-detail__label {
    margin: 20px; }
    .c-detail__label label {
      font-size: 1.4rem;
      color: #fff;
      padding: 5px 10px;
      margin: 0 3px; }
    .c-detail__label label:nth-child(1) {
      background-color: #c80000; }
    .c-detail__label label:nth-child(2) {
      background-color: #dfb433; }
    .c-detail__label label:nth-child(3) {
      background-color: #999; }
  .c-detail .u-lable label {
    background-color: #999; }
  .c-detail-img {
    text-align: center;
    margin: -85px 0 20px 0; }
    .c-detail-img img {
      width: 100%;
      max-width: 280px; }

.c-item {
  *zoom: 1;
  margin-top: 30px;
  position: relative; }
  .c-item:after {
    display: block;
    content: "";
    clear: both; }
  .c-item h3 {
    font-size: 1.5rem;
    color: #fff;
    padding: 3px 5px;
    width: 130px;
    position: absolute;
    top: -12px;
    background: url(../image/bg_item1.png) no-repeat; }
  .c-item p {
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid #c80000;
    padding: 10px;
    background: #333; }

.u-item2 h3 {
  background: url(../image/bg_item2.png) no-repeat; }

.u-item2 p {
  border: 1px solid #dfb433; }

.u-item3 h3 {
  background: url(../image/bg_item3.png) no-repeat; }

.u-item3 p {
  border: 1px solid #8c8c8c; }

.c-txt {
  font-size: 1.3rem;
  color: #fff;
  margin-top: 5px; }

.l-purchase {
  margin-top: 40px; }

.c-purchase-prod {
  margin: 30px 0; }
  .c-purchase-prod h1 {
    font-size: 2.8rem;
    color: #dfb433;
    background: #333;
    line-height: 60px;
    text-align: center; }
  .c-purchase-prod__full {
    background: #444;
    padding: 15px 0; }
  .c-purchase-prod__list-item {
    display: inline-table;
    margin: 14px;
    padding: 0 !important; }
    .c-purchase-prod__list-item a {
      font-size: 1.2rem !important; }
  .c-purchase-prod__img {
    margin: 0 15px; }
    .c-purchase-prod__img img {
      display: inline-table;
      margin: 0 6px; }
      .c-purchase-prod__img img:nth-last-child(1) {
        margin-right: 0; }
  .c-purchase-prod .c-txt {
    background: #c80000;
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    margin: 15px; }

.l-collection {
  margin: 40px 0; }

.c-summary {
  margin: 20px 0;
  text-align: center; }

.c-select {
  *zoom: 1;
  padding: 20px;
  background: #444;
  margin: 20px 0;
  position: relative; }
  .c-select:after {
    display: block;
    content: "";
    clear: both; }
  .c-select__left {
    width: 62%;
    float: left;
    margin: 0 1%; }
    .c-select__left label {
      font-size: 1.6rem;
      background: #c80000;
      color: #fff;
      text-align: center;
      padding: 5px 10px; }
    .c-select__left-txt {
      font-size: 1.2rem;
      color: #fff;
      padding: 5px 0; }
    .c-select__left-row {
      background: rgba(0, 0, 0, 0.3);
      padding: 10px 20px; }
      .c-select__left-row h4 {
        font-size: 1.5rem;
        color: #dfb433;
        text-align: center; }
      .c-select__left-row span {
        font-size: 1.3rem;
        color: #fff; }
      .c-select__left-row .number {
        font-size: 2.6rem;
        color: #fff; }
      .c-select__left-row .red {
        font-size: 1.2rem;
        color: #fff;
        background: #c80000;
        padding: 3px 5px;
        float: right; }
      .c-select__left-row .phs {
        float: right;
        line-height: 30px; }
      .c-select__left-row .number_1 {
        font-size: 1.5rem; }
  .c-select__right {
    width: 34%;
    float: left;
    margin: 0 1%;
    text-align: center; }
    .c-select__right img {
      border: 1px solid #dfb433; }
    .c-select__right .img_item2 {
      margin-top: 10px; }

.img_down {
  position: absolute;
  bottom: -30px; }

.c-title-red h2 {
  font-size: 2rem;
  color: #fff;
  line-height: 40px;
  background: #c80000;
  padding-left: 10px; }

.r {
  padding: 20px; }

.c-truck-select {
  background: #f3f1e6;
  *zoom: 1;
  margin-top: 20px; }
  .c-truck-select:after {
    display: block;
    content: "";
    clear: both; }
  .c-truck-select__left {
    float: left;
    width: 40%; }
  .c-truck-select__right {
    float: left;
    width: 60%; }
    .c-truck-select__right h3 {
      font-size: 2.4rem;
      color: #000; }
    .c-truck-select__right--yen {
      font-size: 3.4rem;
      color: #c80000;
      font-weight: bold; }
    .c-truck-select__right--txt {
      font-size: 1.4rem;
      color: #000;
      padding: 5px 0; }
    .c-truck-select__right .u-truck {
      color: #c80000; }
    .c-truck-select__right .c-recovery {
      padding: 0;
      margin: 10px 0; }
      .c-truck-select__right .c-recovery a {
        color: #000 !important; }
  .c-truck-select__foot {
    border: 1px solid #c80000;
    padding: 10px;
    margin-top: 10px; }
    .c-truck-select__foot h5 {
      font-size: 14px;
      color: #000; }
    .c-truck-select__foot p {
      font-size: 1.2rem;
      color: #000; }

.c-title-yellow {
  font-size: 2.8rem;
  color: #dfb433;
  background: #333;
  text-align: center;
  line-height: 60px; }

.c-noteuse {
  background: #444;
  margin-top: 20px; }
  .c-noteuse ul {
    padding: 20px; }
  .c-noteuse li {
    padding: 5px 0; }
    .c-noteuse li a {
      font-size: 1.2rem;
      color: #fff;
      border-left: 4px solid #dfb433;
      padding-left: 5px; }

.l-calculate {
  margin-top: 30px; }

.c-calculation-txt {
  margin: 10px 0 20px 0; }
  .c-calculation-txt p {
    font-size: 1.2rem;
    color: #fff;
    padding: 2px 0; }
  .c-calculation-txt h4 {
    font-size: 1.8rem;
    color: #dfb433; }

.c-calculation__map {
  background: #444;
  text-align: center; }
  .c-calculation__map img {
    width: 100%;
    max-width: 660px;
    margin: 20px; }

.u-calcu {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 20px 0 100px 0; }

.c-part1__item1 {
  width: 50%;
  float: left;
  background: url(/assets/image/bg_1.png);
  height: 530px; }
  .c-part1__item1-set {
    margin: 30px 50px;
    background: rgba(255, 255, 255, 0.8); }
    .c-part1__item1-set h2 {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      background: #c80000; }
  .c-part1__item1-row {
    clear: both;
    margin: 15px;
    height: 130px; }
  .c-part1__item1-img {
    width: 30%;
    float: left; }
  .c-part1__item1-txt {
    width: 64%;
    float: left;
    margin-left: 20px; }
    .c-part1__item1-txt h3 {
      font-size: 1.6rem;
      color: #000; }
    .c-part1__item1-txt p {
      font-size: 1.3rem;
      color: #000; }

.c-part1__item2 {
  width: 50%;
  float: left;
  background: url(/assets/image/bg_2.png) no-repeat;
  height: 530px; }
  .c-part1__item2 h2 {
    background: #000; }

.c-part2 {
  width: 45.3%;
  display: inline-block;
  background: #f3f1e6;
  margin: 15px 0 15px 30px; }
  .c-part2 h2 {
    font-size: 2rem;
    color: #fff;
    background: #c80000;
    line-height: 40px;
    padding-left: 10px; }
  .c-part2 h3 {
    font-size: 1.6rem;
    color: #000; }
  .c-part2__infortxt {
    padding: 10px; }
  .c-part2__infor-left {
    width: 55%;
    float: left; }
    .c-part2__infor-left p {
      font-size: 2.4rem;
      color: #c80000;
      font-weight: bold; }
    .c-part2__infor-left a {
      font-size: 1.3rem;
      color: #000; }
    .c-part2__infor-left i {
      color: #c80000; }
  .c-part2__infor-right {
    width: 45%;
    float: left;
    text-align: right; }
  .c-part2__txt p {
    font-size: 1.3rem; }
  .c-part2__txt-item1 {
    color: #c80000; }

.l-title-full {
  font-size: 2.8rem;
  background: #333;
  line-height: 70px;
  color: #dfb433;
  text-align: center; }

.u-title-yellow {
  border-bottom: 1px solid #dfb433;
  text-align: left; }

.l-include {
  margin: 30px 0 150px 0;
  *zoom: 1; }
  .l-include:after {
    display: block;
    content: "";
    clear: both; }

.c-include {
  background: url(../image/bg_7.png) no-repeat;
  height: 180px;
  width: 32%;
  text-align: center;
  float: left;
  margin-right: 20px;
  padding: 60px 0; }
  .c-include:last-child {
    margin-right: 0; }
  .c-include h2 {
    font-size: 2.8rem; }
  .c-include h3 {
    font-size: 1.8rem; }

.u-include1 {
  background: url(../image/bg_8.png) no-repeat; }

.u-include2 {
  background: url(../image/bg_9.png) no-repeat; }

.u-include3 {
  background: url(../image/bg_11.png) no-repeat; }

.u-include4 {
  background: url(../image/bg_12.png) no-repeat; }

.u-include5 {
  background: url(../image/bg_10.png) no-repeat; }

.l-computer {
  background: url(../image/bg_15.png) no-repeat;
  margin-top: 40px;
  border: 1px solid #fff; }

.c-computer {
  padding: 20px; }
  .c-computer__logo img {
    width: 100%;
    max-width: 661px; }
  .c-computer__title {
    background: #c80000;
    text-align: center;
    line-height: 30px;
    font-size: 2rem;
    margin: 10px 0; }
  .c-computer__detail {
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .c-computer__map img {
    width: 100%;
    max-width: 661px; }

.c-address {
  margin-top: 30px; }
  .c-address h3 {
    font-size: 1.8rem;
    background: #333;
    line-height: 40px;
    color: #dfb433;
    padding-left: 20px; }

.u-border {
  margin-top: 2px;
  background: #444; }
  .u-border li {
    padding: 5px 0; }

.c-examples__img {
  margin: 20px 0; }
  .c-examples__img img {
    border: 1px solid #dfb433;
    margin-right: 10px;
    margin-top: 10px; }

.c-description .u-line {
  border-bottom: 1px solid #fff; }

.c-recycle__list-item {
  border-bottom: 1px solid #999;
  *zoom: 1;
  padding: 20px 0;
  position: relative; }
  .c-recycle__list-item:after {
    display: block;
    content: "";
    clear: both; }

.c-recycle__list-left {
  float: left;
  width: 40%; }
  .c-recycle__list-left img {
    border: 1px solid #dfb433; }

.c-recycle__list-right {
  float: left;
  width: 60%; }
  .c-recycle__list-right h3 {
    font-size: 1.8rem;
    color: #dfb433; }
  .c-recycle__list-right p {
    font-size: 1.2rem; }
  .c-recycle__list-right--label {
    bottom: 25px;
    position: absolute; }
    .c-recycle__list-right--label label {
      font-size: 1.6rem;
      background: #c80000;
      width: 100px;
      height: 30px;
      padding: 5px 10px; }
    .c-recycle__list-right--label span {
      font-size: 1.6rem;
      margin: 0 10px; }

.c-recovery {
  padding: 10px 25px 5px 25px; }
  .c-recovery .c-recovery-item a {
    color: #fff;
    font-size: 1.3rem; }
  .c-recovery .c-recovery-item i {
    padding-right: 5px;
    color: #c80000; }

.c-title {
  background: url(../image/bg_title.png) no-repeat; }
  .c-title h2 {
    font-size: 2.2rem;
    line-height: 40px;
    padding-left: 10px;
    color: #000; }

.c-QA {
  margin-top: 20px;
  background: #f3f1e6; }
  .c-QA__txt {
    font-size: 1.2rem;
    color: #000;
    padding: 20px; }
  .c-QA .u-titleQA h2 {
    font-size: 1.6rem !important; }

.c-contact {
  background: #333;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; }
  .c-contact tr td {
    font-size: 1.3rem;
    border: 2px solid #000;
    padding: 10px; }
  .c-contact tr p {
    line-height: 25px; }
  .c-contact tr .u-top {
    vertical-align: top; }

.c-sell {
  margin: 30px 50px;
  text-align: center;
  *zoom: 1; }
  .c-sell:after {
    display: block;
    content: "";
    clear: both; }
  .c-sell__item {
    position: relative;
    border-radius: 5px;
    float: left; }
    .c-sell__item label {
      font-size: 1.6rem;
      background: #c80000;
      padding: 5px 10px;
      position: absolute;
      top: 10px;
      left: 0;
      font-weight: bold; }
  .c-sell .c-sell__img {
    float: left;
    margin: 80px 30px; }

.l-banner {
  background: url(../image/bg_4.png);
  height: 300px;
  margin: 30px 0 50px 0; }

.c-banner {
  padding: 25px 20px; }
  .c-banner__title {
    font-size: 4rem;
    line-height: 50px; }
  .c-banner__left {
    float: left;
    width: 65%; }
  .c-banner__right {
    float: left;
    width: 35%;
    text-align: right; }
    .c-banner__right img {
      margin: 5px;
      display: inline-block; }
  .c-banner__inftel {
    background: #323232;
    text-align: center;
    padding: 10px 20px;
    margin: 30px 0;
    width: 80%; }
    .c-banner__inftel h3 {
      color: #dfb433;
      font-size: 2rem; }
  .c-banner__txt1 {
    font-size: 1.7rem; }
  .c-banner__number {
    font-size: 3.4rem;
    margin: 0 10px 0 5px; }
  .c-banner__txt2 {
    font-size: 1.6rem;
    margin-top: 10px; }
  .c-banner__number2 {
    font-size: 2rem; }
  .c-banner label {
    font-size: 1.6rem;
    background: #c80000;
    padding: 5px 10px;
    margin-left: 10px; }
  .c-banner img {
    margin-top: 7px; }

.u-banner {
  background: url(../image/bg_5.png) no-repeat;
  height: 300px; }

.u-banner1 {
  background: url(../image/bg_6.png) no-repeat;
  height: 300px; }

.u-banner2 {
  background: url(../image/bg_13.png) no-repeat;
  height: 300px; }

.u-banner3 {
  background: url(../image/bg_14.png) no-repeat;
  height: 300px; }

.u-banner4 {
  background: url(../image/bg_16.png) no-repeat;
  height: 300px; }

.u-banner__left {
  width: 65%; }

.u-banner__right {
  width: 30%; }

/*------------------------------------------------------------
	top page
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-mt0 {
  margin-top: 0px !important; }

.u-mt5 {
  margin-top: 5px !important; }

.u-mt10 {
  margin-top: 10px !important; }

.u-mt15 {
  margin-top: 15px !important; }

.u-mt20 {
  margin-top: 20px !important; }

.u-mt25 {
  margin-top: 25px !important; }

.u-mt30 {
  margin-top: 30px !important; }

.u-mt35 {
  margin-top: 35px !important; }

.u-mt40 {
  margin-top: 40px !important; }

.u-mt45 {
  margin-top: 45px !important; }

.u-mt50 {
  margin-top: 50px !important; }

.u-mb0 {
  margin-bottom: 0px !important; }

.u-mb5 {
  margin-bottom: 5px !important; }

.u-mb10 {
  margin-bottom: 10px !important; }

.u-mb15 {
  margin-bottom: 15px !important; }

.u-mb20 {
  margin-bottom: 20px !important; }

.u-mb25 {
  margin-bottom: 25px !important; }

.u-mb30 {
  margin-bottom: 30px !important; }

.u-mb35 {
  margin-bottom: 35px !important; }

.u-mb40 {
  margin-bottom: 40px !important; }

.u-mb45 {
  margin-bottom: 45px !important; }

.u-mb50 {
  margin-bottom: 50px !important; }

/*------------------------------------------------------------
Anchor position
------------------------------------------------------------*/
/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

/*------------------------------------------------------------
Color
------------------------------------------------------------*/
/*------------------------------------------------------------
Adjust tracking tag space
------------------------------------------------------------*/
.trackTags {
  display: none; }
