.l-banner {
    background: url(../image/bg_4.png);
    height: 300px;
    margin: 30px 0 50px 0;
}

.c-banner {
    padding: 25px 20px;
    &__title {
        font-size: 4rem;
        line-height: 50px;
    }
    &__left {
        float: left;
        width: 65%;
    }
    &__right {
        float: left;
        width: 35%;
        text-align: right;
        img {
            margin: 5px;
            display: inline-block;
        }
    }
    &__inftel {
        background: $color11;
        text-align: center;
        padding: 10px 20px;
        margin: 30px 0;
        width: 80%;
        h3 {
            color: $color4;
            font-size: 2rem;
        }
    }
    &__txt1 {
        font-size: 1.7rem;
    }
    &__number {
        font-size: 3.4rem;
        margin: 0 10px 0 5px;
    }
    &__txt2 {
        font-size: 1.6rem;
        margin-top: 10px;
    }
    &__number2 {
        font-size: 2rem;
    }
    label {
        font-size: 1.6rem;
        background: $color2;
        padding: 5px 10px;
        margin-left: 10px;
    }
    img {
        margin-top: 7px;
    }
}

.u-banner {
    background: url(../image/bg_5.png) no-repeat;
    height: 300px;
}

.u-banner1 {
    background: url(../image/bg_6.png) no-repeat;
    height: 300px;
}

.u-banner2 {
    background: url(../image/bg_13.png) no-repeat;
    height: 300px;
}

.u-banner3 {
    background: url(../image/bg_14.png) no-repeat;
    height: 300px;
}

.u-banner4 {
    background: url(../image/bg_16.png) no-repeat;
    height: 300px;
}

.u-banner__left {
    width: 65%;
}

.u-banner__right {
    width: 30%;
}