.l-calculate {
    margin-top: 30px;
}

.c-calculation-txt {
    margin: 10px 0 20px 0;
    p {
        font-size: 1.2rem;
        color: $color6;
        padding: 2px 0;
    }
    h4 {
        font-size: 1.8rem;
        color: $color4;
    }
}

.c-calculation__map {
    background: $color3;
    text-align: center;
    img {
        width: 100%;
        max-width: 660px;
        margin: 20px;
    }
}

.u-calcu {
    border: 1px solid $color6;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 20px 0 100px 0;
}