.c-contact {
    background: $color7;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    tr {
        td {
            font-size: 1.3rem;
            border: 2px solid $color1;
            padding: 10px;
        }
        p {
            line-height: 25px;
        }
        .u-top {
            vertical-align: top;
        }
    }
}