.c-detail {
    border: 1px solid $color5;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    width: 420px;
    position: relative;
    &__label {
        margin: 20px;
        label {
            font-size: 1.4rem;
            color: $color6;
            padding: 5px 10px;
            margin: 0 3px;
        }
        label:nth-child(1) {
            background-color: $color2;
        }
        label:nth-child(2) {
            background-color: $color4;
        }
        label:nth-child(3) {
            background-color: $color5;
        }
    }
    .u-lable {
        label {
            background-color: $color5;
        }
    }
    &-img {
        text-align: center;
        margin: -85px 0 20px 0;
        img {
            width: 100%;
            max-width: 280px;
        }
    }
}

.c-item {
    @include clear;
    margin-top: 30px;
    position: relative;
    h3 {
        font-size: 1.5rem;
        color: $color6;
        padding: 3px 5px;
        width: 130px;
        position: absolute;
        top: -12px;
        background: url(../image/bg_item1.png) no-repeat;
    }
    p {
        font-size: 1.2rem;
        color: $color6;
        border: 1px solid $color2;
        padding: 10px;
        background: $color7;
    }
}

.u-item2 {
    h3 {
        background: url(../image/bg_item2.png) no-repeat;
    }
    p {
        border: 1px solid $color4;
    }
}

.u-item3 {
    h3 {
        background: url(../image/bg_item3.png) no-repeat;
    }
    p {
        border: 1px solid $color8;
    }
}

.c-txt {
    font-size: 1.3rem;
    color: $color6;
    margin-top: 5px;
}