.l-title-full {
    font-size: 2.8rem;
    background: $color7;
    line-height: 70px;
    color: $color4;
    text-align: center;
}

.u-title-yellow {
    border-bottom: 1px solid $color4;
    text-align: left;
}

.l-include {
    margin: 30px 0 150px 0;
    @include clear;
}

.c-include {
    background: url(../image/bg_7.png) no-repeat;
    height: 180px;
    width: 32%;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding: 60px 0;
    &:last-child {
        margin-right: 0;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 1.8rem;
    }
}

.u-include1 {
    background: url(../image/bg_8.png) no-repeat;
}

.u-include2 {
    background: url(../image/bg_9.png) no-repeat;
}

.u-include3 {
    background: url(../image/bg_11.png) no-repeat;
}

.u-include4 {
    background: url(../image/bg_12.png) no-repeat;
}

.u-include5 {
    background: url(../image/bg_10.png) no-repeat;
}

// computer
.l-computer {
    background: url(../image/bg_15.png) no-repeat;
    margin-top: 40px;
    border: 1px solid $color6;
}

.c-computer {
    padding: 20px;
    &__logo {
        img {
            width: 100%;
            max-width: 661px;
        }
    }
    &__title {
        background: $color2;
        text-align: center;
        line-height: 30px;
        font-size: 2rem;
        margin: 10px 0;
    }
    &__detail {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    &__map {
        img {
            width: 100%;
            max-width: 661px;
        }
    }
}

.c-address {
    margin-top: 30px;
    h3 {
        font-size: 1.8rem;
        background: $color7;
        line-height: 40px;
        color: $color4;
        padding-left: 20px;
    }
}

.u-border {
    margin-top: 2px;
    background: $color3;
    li {
        padding: 5px 0;
    }
}

// examples
.c-examples {
    &__img {
        margin: 20px 0;
        img {
            border: 1px solid $color4;
            margin-right: 10px;
            margin-top: 10px;
        }
    }
}

.c-description {
    .u-line {
        border-bottom: 1px solid $color6;
    }
}