.c-part1 {
    &__item1 {
        width: 50%;
        float: left;
        background: url(/assets/image/bg_1.png);
        height: 530px;
        &-set {
            margin: 30px 50px;
            background: rgba(255, 255, 255, 0.8);
            h2 {
                font-size: 2rem;
                color: $color6;
                text-align: center;
                background: $color2;
            }
        }
        &-row {
            clear: both;
            margin: 15px;
            height: 130px;
        }
        &-img {
            width: 30%;
            float: left;
        }
        &-txt {
            width: 64%;
            float: left;
            margin-left: 20px;
            h3 {
                font-size: 1.6rem;
                color: $color1;
            }
            p {
                font-size: 1.3rem;
                color: $color1;
            }
        }
    }
    &__item2 {
        width: 50%;
        float: left;
        background: url(/assets/image/bg_2.png) no-repeat;
        height: 530px;
        h2 {
            background: $color1;
        }
    }
}