.c-part2 {
    width: 45.3%;
    display: inline-block;
    background: $color9;
    margin: 15px 0 15px 30px;
    h2 {
        font-size: 2rem;
        color: $color6;
        background: $color2;
        line-height: 40px;
        padding-left: 10px;
    }
    h3 {
        font-size: 1.6rem;
        color: $color1;
    }
    &__infortxt {
        padding: 10px;
    }
    &__infor {
        &-left {
            width: 55%;
            float: left;
            p {
                font-size: 2.4rem;
                color: $color2;
                font-weight: bold;
            }
            a {
                font-size: 1.3rem;
                color: $color1;
            }
            i {
                color: $color2;
            }
        }
        &-right {
            width: 45%;
            float: left;
            text-align: right;
        }
    }
    &__txt {
        p {
            font-size: 1.3rem;
        }
        &-item1 {
            color: $color2;
        }
    }
}