.l-purchase {
    margin-top: 40px;
}

.c-purchase-prod {
    margin: 30px 0;
    h1 {
        font-size: 2.8rem;
        color: $color4;
        background: $color7;
        line-height: 60px;
        text-align: center;
    }
    &__full {
        background: $color3;
        padding: 15px 0;
    }
    &__list {
        &-item {
            display: inline-table;
            margin: 14px;
            padding: 0 !important;
            a {
                font-size: 1.2rem !important;
            }
        }
    }
    &__img {
        margin: 0 15px;
        img {
            display: inline-table;
            margin: 0 6px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
        }
    }
    .c-txt {
        background: $color2;
        font-size: 1.8rem;
        line-height: 30px;
        text-align: center;
        margin: 15px;
    }
}