.c-QA {
    margin-top: 20px;
    background: $color9;
    &__txt {
        font-size: 1.2rem;
        color: $color1;
        padding: 20px;
    }
    .u-titleQA {
        h2 {
            font-size: 1.6rem !important;
        }
    }
}