.c-recovery {
    padding: 10px 25px 5px 25px;
    .c-recovery-item {
        a {
            color: #fff;
            font-size: 1.3rem;
        }
        i {
            padding-right: 5px;
            color: $color2;
        }
    }
}