.c-recycle__list {
    &-item {
        border-bottom: 1px solid $color5;
        @include clear;
        padding: 20px 0;
        position: relative;
    }
    &-left {
        float: left;
        width: 40%;
        img {
            border: 1px solid $color4;
        }
    }
    &-right {
        float: left;
        width: 60%;
        h3 {
            font-size: 1.8rem;
            color: $color4;
        }
        p {
            font-size: 1.2rem;
        }
        &--label {
            bottom: 25px;
            position: absolute;
            label {
                font-size: 1.6rem;
                background: $color2;
                width: 100px;
                height: 30px;
                padding: 5px 10px;
            }
            span {
                font-size: 1.6rem;
                margin: 0 10px;
            }
        }
    }
}