.c-sell {
    margin: 30px 50px;
    text-align: center;
    @include clear;
    &__item {
        position: relative;
        border-radius: 5px;
        float: left;
        label {
            font-size: 1.6rem;
            background: $color2;
            padding: 5px 10px;
            position: absolute;
            top: 10px;
            left: 0;
            font-weight: bold;
        }
    }
    .c-sell__img {
        float: left;
        margin: 80px 30px;
    }
}