.l-collection {
    margin: 40px 0;
}

.c-summary {
    margin: 20px 0;
    text-align: center;
}

.c-select {
    @include clear;
    padding: 20px;
    background: $color3;
    margin: 20px 0;
    position: relative;
    &__left {
        width: 62%;
        float: left;
        margin: 0 1%;
        label {
            font-size: 1.6rem;
            background: $color2;
            color: $color6;
            text-align: center;
            padding: 5px 10px;
        }
        &-txt {
            font-size: 1.2rem;
            color: $color6;
            padding: 5px 0;
        }
        &-row {
            background: rgba(0, 0, 0, 0.3);
            padding: 10px 20px;
            h4 {
                font-size: 1.5rem;
                color: $color4;
                text-align: center;
            }
            span {
                font-size: 1.3rem;
                color: $color6;
            }
            .number {
                font-size: 2.6rem;
                color: $color6;
            }
            .red {
                font-size: 1.2rem;
                color: $color6;
                background: $color2;
                padding: 3px 5px;
                float: right;
            }
            .phs {
                float: right;
                line-height: 30px;
            }
            .number_1 {
                font-size: 1.5rem;
            }
        }
    }
    &__right {
        width: 34%;
        float: left;
        margin: 0 1%;
        text-align: center;
        img {
            border: 1px solid $color4;
        }
        .img_item2 {
            margin-top: 10px;
        }
    }
}

.img_down {
    position: absolute;
    bottom: -30px;
}