.c-title-red {
    h2 {
        font-size: 2rem;
        color: $color6;
        line-height: 40px;
        background: $color2;
        padding-left: 10px;
    }
}

.r {
    padding: 20px;
}

.c-truck-select {
    background: $color9;
    @include clear;
    margin-top: 20px;
    &__left {
        float: left;
        width: 40%;
    }
    &__right {
        float: left;
        width: 60%;
        h3 {
            font-size: 2.4rem;
            color: $color1;
        }
        &--yen {
            font-size: 3.4rem;
            color: $color2;
            font-weight: bold;
        }
        &--txt {
            font-size: 1.4rem;
            color: $color1;
            padding: 5px 0;
        }
        .u-truck {
            color: $color2;
        }
        .c-recovery {
            padding: 0;
            margin: 10px 0;
            a {
                color: $color1 !important;
            }
        }
    }
    &__foot {
        border: 1px solid $color2;
        padding: 10px;
        margin-top: 10px;
        h5 {
            font-size: 14px;
            color: $color1;
        }
        p {
            font-size: 1.2rem;
            color: $color1;
        }
    }
}

.c-title-yellow {
    font-size: 2.8rem;
    color: $color4;
    background: $color7;
    text-align: center;
    line-height: 60px;
}

.c-noteuse {
    background: $color3;
    margin-top: 20px;
    ul {
        padding: 20px;
    }
    li {
        padding: 5px 0;
        a {
            font-size: 1.2rem;
            color: $color6;
            border-left: 4px solid $color4;
            padding-left: 5px;
        }
    }
}